<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/express-web-components/express-router.html">
<link rel="import" href="../../../../bower_components/express-web-components/express-middleware.html">

<dom-module id="server-users">
    <template>
        <express-router path="/users">
            <express-middleware method="get" path="/userlist" callback="[[userListHandler]]"></express-middleware>
            <express-middleware method="post" path="/adduser" callback="[[addUserHandler]]"></express-middleware>
            <express-middleware method="delete" path="/deleteuser/:id" callback="[[deleteUserHandler]]"></express-middleware>
        </express-router>
    </template>

    <script src="users.component.ts"></script>
</dom-module>
